{% extends 'MainApp/base.html' %}
{% load static %}

{% block content %}
<div class="authentication-wrapper authentication-basic container-p-y">
  <div class="authentication-inner">
    <!-- Register -->
    <div class="card">
      <div class="card-body">
        <!-- Logo -->
        <div class="app-brand justify-content-center">
          <a href="index.html" class="app-brand-link gap-2">
            <span class="app-brand-logo demo">

              <img src="{% static 'assets/img/logo.png' %}" alt="logo" width="40" height="40">
            </span>
            <span class="app-brand-text demo text-body fw-bolder text-primary">NSL</span>
          </a>
        </div>
        <!-- /Logo -->
        <h4 class="mb-2">Welcome to HELPDESK! </h4>
        <p class="mb-4">Please login to Assigned Ticket</p>
        {% include 'alert_msg.html' %}
        <form id="formAuthentication" class="mb-3" action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="email" class="form-label">Email or Username</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter email or username"
              autofocus />
          </div>
          <div class="mb-3 form-password-toggle">
            <div class="d-flex justify-content-start">
              <label class="form-label" for="password">Password</label>
            </div>
            <div class="input-group input-group-merge">
              <input type="password" id="password" class="form-control" name="password" placeholder="Enter Password"
                aria-describedby="password" />
              <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
            </div>
            <div class="d-flex justify-content-end">
              <a href="auth-forgot-password-basic.html">
                <small>Forgot Password?</small>
              </a>
            </div>
          </div>
          <div class="mb-3">
            <button class="btn btn-primary d-grid w-100" type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
    <!-- /Register -->
  </div>
</div>
{% endblock content %}