{% extends 'AdminApp/base.html' %} {% load static %} {% block content %}

<div class="card">
    <div class="card-header d-flex flex-md-row flex-column justify-content-md-between justify-content-start align-items-md-center">
        <h5>Issues Report</h5>
        <form class="d-flex flex-md-row flex-column justify-content-between align-items-center" method="GET", action="{{issues_report}}">
            <div class="input-group input-group-merge me-md-3 mb-md-0 mb-2">
                <span class="input-group-text">From:</span>
                <input type="date" name="from_date" class="form-control" value="{{from_date|date:'Y-m-d'}}">
              </div>
            <div class="input-group input-group-merge me-md-3 mb-md-0 mb-2">
                <span class="input-group-text">To:</span>
                <input type="date" name="to_date" class="form-control" value="{{to_date|date:'Y-m-d'}}">
            </div>
            <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
        </form>
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>Ticket No.</th>
                    <th>Employee</th>
                    <th>Issue Type</th>
                    <th>Issue Date</th>
                    <th>Service Engr</th>
                    <th>Status</th>
                </tr>
            </thead>

            
            <tbody class="table-border-bottom-0">
                {% if issues %}
                    {% for issue in issues %}
                    <tr>
                        <td>
                            <span class="fw-bolder text-primary cursor-pointer"
                                data-bs-target="#view_issue{{issue.id}}"
                                data-bs-toggle="modal">{{issue.ticket_no}}</span>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <span>{{issue.emp_name}}</span>
                                <small>{{issue.emp_email}}</small>
                            </div>
                        </td>
                        <td><span class="fw-normal">{{issue.issue_type}}</span></td>
                        <td>{{issue.issue_date}}</td>
                        <td>
                            {% if issue.assign_name and issue.assign_phone %}
                            <div class="d-flex flex-column">
                                <span>{{issue.assign_name}}</span>
                                <small>{{issue.assign_phone}}</small>
                            </div>
                            {% endif%}
                        </td>
                        <td>
                            <button class="btn btn-xs rounded-pill btn-outline-success" data-bs-toggle="modal"
                            data-bs-target="#view_issue{{issue.id}}">
                                {{issue.status}}
                            </button>
                        </td>
                    </tr>
                    <!-- view issue modal  -->
                    <div class="modal fade" id="view_issue{{issue.id}}" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel2">
                                        {{issue.ticket_no}}
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                    <ul>
                                        <li><strong>Issue Status</strong> : <span
                                            class="badge rounded-pill {%if issue.status == 'Unassigned' %}bg-secondary {% elif issue.status == 'Assigned' %}bg-primary{% elif issue.status == 'Completed' %}bg-success {%else%}bg-danger{%endif%}">
                                            {{issue.status}}</span>
                                        </li>
                                        <li><strong>Issue Type</strong> : <span class="fw-semibold text-primary">{{issue.issue_type}}</span>
                                        </li>
                                        <li><strong>Issue Date</strong> : {{issue.issue_date}}</li>
                                        {% if issue.resolved_date %}
                                        <li><strong>Resolved date</strong> :{{issue.resolved_date}}</li> 
                                        {% elif issue.rejected_date %}
                                        <li><strong>Rejected date</strong> :{{issue.rejected_date}}</li> 
                                        <li><strong>Reason</strong> :{{issue.rejected_reason}}</li> 
                                        {% endif%}
                                        {% if issue.assign_name and issue.assign_phone %}
                                        <li><strong>Service Engr.</strong> :{{issue.assign_name}}
                                            <small class="ms-1 font-monospace"> <i class="bx bx-phone text-info me-1"></i>{{issue.assign_phone}}</small>
                                        </li> 
                                        {% endif%}
                                        <li><strong>Location</strong> : {{issue.location}}</li>
                                        <li><strong>Description</strong> : {{issue.description}}</li>
                                    </ul>
                                    <ul class="border-top pt-2">
                                        <li><strong>Name</strong> : {{issue.emp_name}}</li>
                                        <li><strong>Email</strong> : {{issue.emp_email}}</li>
                                        <li><strong>Phone</strong> : {{issue.emp_phone}}</li>
                                        <li><strong>Employee Id</strong> : {{issue.emp_empid}}</li>
                                        <li><strong>Designation</strong> : {{issue.emp_designation}}</li>
                                        <li><strong>Department</strong> : {{issue.emp_department}}</li>
                                    </ul> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end aview issue modal  -->
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6">
                            <h5 class="text-center mt-4">No Data Found. <a href="{% url 'issues_report' %}" class="btn rounded-pill btn-icon btn-outline-primary btn-sm"><span class="tf-icons bx bx-refresh"></span></a></h5>
                        </td>
                    </tr>
                {% endif%}
            </tbody>
            
        </table>
    </div>
</div>

{% endblock content %} {% block customjs %}
<script>

function handle_status(status) {
  const div = document.getElementById("rejected_reason_div")
  const textarea = document.getElementById("rejected_reason")
  if (status == "Rejected"){
    div.classList.remove('d-none')
    textarea.setAttribute('required', '');
  } else {
    div.classList.add('d-none')
    textarea.removeAttribute('required')
  }
}
</script>
{% endblock customjs %}